<p id="notice"><%= notice %></p>

<p>
  <strong>Issue date:</strong>
  <%= @invoice.issue_date %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @invoice.due_date %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @invoice.subtotal %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @invoice.discount %>
</p>

<p>
  <strong>Total:</strong>
  <%= @invoice.total %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
